* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0;
}
.header{
    transition: opacity 0.3s ease;
}

.header.hidden {
    opacity: 0;
  }
  
  .header.visible {
      opacity: 1;
  }
nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-left .navbar-logo {
    height: 80px;
    width: auto;
}

.navbar-right a {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
